<!-- Display all previously comments on particular groomer -->
{{#if comments.length}}
  <div class="comments">
    <h3 id="all-reviews-header">My Reviews Dashboard</h3>
    <img class="typeyDog" src="/assets/typing-corgi.gif" />
    <!-- for each comment display particular information -->
    {{#each comments as |comment|}}
      <div class="eachreview">
        <p class="card-body2">
          <h5>Groomer Name : {{groomer.name}} </h5>
          <h5>Review : {{commentText}} </h5>
          <h5> Posted On : {{format_date dateCreated}}</h5>
        </p>
      </div>
    {{/each}}
  </div>
{{/if}}